/* ========================= GENERAL ======================= */
* {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header {
  background-color: #1d2d50;
  font-size: 100px;
}

html {
  background-color: #1d2d50;
}

#root {
  background-color: #1d2d50;
  color: white;
}

/* ========================= Nav Bar ====================== */
.nav-dropdown {
  margin-top: 8px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #1d2d50;
}

.nav ul {
  border-bottom-width: 0px;
}

.nav-tabs {
  border-bottom-width: 0px;
}

.nav-item {
  text-decoration: none;
  color: black;
  list-style-type: none;
  border-bottom-width: 0px;
}

.home-link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:focus {
  text-decoration: none;
  color: black;
}
a:hover,
a:active {
  text-decoration: underline;
  color: black;
}

.navbar,
.navbar-default {
  background-image: linear-gradient(
    to bottom,
    #1d2d50 0,
    #1d2d50 100%
  ) !important; /*override background image gradient w/ flat color */
}

.nav-link {
  color: whitesmoke !important;
}

.typed-name {
  width: 150px;
  font-size: 27px;
  margin-left: 15px;
  color: whitesmoke;
  text-decoration: none;
}

.splash-image {
  width: 100vw;
  height: auto;
}

.contact-me {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: space-evenly;
}

.contact-me a {
  color: #e8eced;
}

.contact-me a i {
  color: #e8eced;
}

.fa-twitter,
.fa-github {
  position: relative;
  top: 3px;
}

.linkedin-icon {
  position: relative;
  top: 7px;
}

.card-title {
  color: black;
}

.project-description {
  text-decoration: none;
}

.contact-me {
  height: 35px;
  width: 100%;
  background-color: #1d2d50;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
}

.footer-icons {
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 30px;
}

.project-card {
  margin: 30px;
}

.project-img {
  height: 450px;
}

.about-me {
  margin-bottom: 50px;
}

.aboutme-img {
  width: 400px;
  height: 400px;
  display: block;
  margin-left: 400px;
  margin-right: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: solid 5px whitesmoke;
  margin-top: 50px;
  margin-right: 30px;
}

.aboutme-text {
  font-size: larger;
  margin-bottom: 20px;
}

.navbar-toggler-icon {
  color: white !important;
}

@media screen and (max-width: 1024px) {
  .aboutme-img {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1600px) {
  .project-img {
    height: 200px;
    width: 250px;
  }
}

/* Screens 992px or less */
@media screen and (max-width: 992px) {
  .project-img {
    height: 300px;
  }
  .aboutme-img {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 600px) {
  .project-img {
    height: 200px;
  }

  /* Possibly resizing card height for smaller screens */
  /* .project-card {
  } */

  .aboutme-img {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
  }
}
